input {
    display: block;
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 2rem;
}

/* .add-user {
    background-color: blueviolet;
} */

.add-user-form {
    text-align: center;
}
.btn-add-user {
    
}