input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-left: 25%;
  border-radius: 8px;
  box-shadow: 5px;
  border-width: 0 2px 2px 0;
}
  
.btn-add-user {
  background-color: rgb(199, 218, 235);
}

.btn-add-user:hover {
  background-color: rgb(37, 108, 223);
}